# gitignore

.DS_Store
.idea
.idea/
.nyc_output
.vscode/
coverage
bower_components
npm-debug.*
node_modules
sample/node_modules
sample/.env
oauth-jsclient.iml
package-lock.json
yarn.lock
src/logs/*
dist
lib
